{% extends "common/base.html" %}
{% load static %}

{% block content %}
    <div class="nk-block-head-content">
        <h3 class="nk-block-title page-title">Add Expense Category</h3>    
    </div>

    <form method="POST" action="{% url 'app:add_expense_category' %}" accept-charset="UTF-8" id="expense_category_add_form">
    {% csrf_token %}
                                        
        {% if form.errors %}                
            <p>Please correct the following errors:</p>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            {% endfor %}

            {% for error in form.non_field_errors %}
                <li> {{ error|escape }}</li>
            {% endfor %}

            {% for message in messages %}
                <li> {{ message }}</li>
            {% endfor %}                
        {% endif %} 

        <div class="modal-body">       
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Category Name:*</label>
                <input class="form-control" required="" placeholder="Expense Category Name" name="{{ form.name.html_name }}" id="{{ form.name.id_for_label }}" type="text">
                {{ form.name.errors }}
            </div>

            <div class="form-group">
                <label for="{{ form.code.id_for_label }}">Category Code:*</label>
                <input class="form-control" required="" placeholder="Expense Category Code" name="{{ form.code.html_name }}" id="{{ form.code.id_for_label }}" type="text">
                {{ form.code.errors }}
            </div>
        </div>

        <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <input type="button" class="btn btn-primary" value="Cancel" 
        onclick="window.history.go(-1);"/>
        </div>
    </form>

{% endblock content %}